/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

mat-card >mat-card-header >.mat-card-header-text{ /*needed to override a style of mat card*/
    margin: 0px;
}